body {
  margin: 0rem;
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Keeps the page from scrolling */
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none; /* <-- FIX: Prevents highlighting while dragging */
}

.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
  flex-shrink: 0;
}
